@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cars Application</h1>
    <p class="lead">Bienvenue à l'application de gestion des voitures</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestion des Proprietaires</h2>
        <p>
            Ajouter, suprimer et éditer des peopriétaires
        </p>
        <p><a class="btn btn-default" href="~/Prorietaires/Index">Accéder  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestion des Voitures</h2>
        <p>Ajouter, supprimer et éditer des voitures</p>
        <p><a class="btn btn-default" href="~/Voitures/Index">accéder  &raquo;</a></p>
    </div>
   
</div>